.canvasHeader
{
    background-color: white;

    width: 1895px;
    height: 100px;

    border-radius: 22.5px;
}

.canvasHeadText
{
    width: 400px;

    position: relative;
    top: 22px;
    left: 748px;
    
    text-align: center;
}

.banner
{
    width: 1895px;
    font-size: xx-large;

    position: relative;
    top: 5px;

    background-color: white;

    border-radius: 22.5px;
}

.canvasButton
{
    width: 100px;
    height: 79px;

    position: relative;
    top: -45px;
    left: 1784px;

    border-radius: 22.5px;
}

.canvasButton1
{
    width: 200px;
    height: 79px;

    position: relative;
    top: -25px;
    left: 1641px;

    font-size: x-large;

    border-radius: 22.5px;
}

.canvasMain
{
    background-color: white;

    width: 1895px;

    position: relative;
    top: 10px;

    border-radius: 22.5px;
}

.selectionArea
{
    width: 600px;
    height: 300px;

    background-color: white;
    border-radius: 22.5px;

    position: relative;
    top: 100px;
    left: 648px;

}

.testArea
{
    width: 1895px;
    height: 1100px;

    background-color: white;
    border-radius: 22.5px;

    position: relative;
    top: 5px;
}

.testArea1
{
    width: 1895px;

    background-color: white;
    border-radius: 22.5px;

    position: relative;
    top: 15px;
}

.question-block
{
    width: 1870px;
    position: relative;
    left: 15px;
}

.stats
{
    justify-content: center;

    width: 1895px;

    background-color: white;
    border-radius: 22.5px;

    position: relative;
    top: 5px;
}

.statsArea
{
    width: 1895px;
    position: relative;
    left: 899x;
}

lightning-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.stats-container
{
    border-radius: 22.5px;

    background-color: white;

    width: 1895px;

    position: relative;
    top: 10px;
}