.canvasHeader
{
    background-color: white;

    width: 1895px;
    height: 100px;

    border-radius: 22.5px;
}

.canvasHeadText
{
    width: 400px;

    position: relative;
    top: 22px;
    left: 748px;
    
    text-align: center;
}

.canvasButton
{
    width: 100px;
    height: 79px;

    position: relative;
    top: -45px;
    left: 1784px;

    border-radius: 22.5px;
}

.canvasMain
{
    background-color: white;

    width: 1895px;
    height: 710px;

    position: relative;
    top: 5px;

    border-radius: 22.5px;
}

.canvasText
{
    width: 650px;
    height: 300px;

    position: relative;
    top: -500px;
    left: 555px;

    text-align: center;
}

.moveCenter
{
    /* background-color: black; */
    width: 1235px;
    height: 700px;

    position: relative;
    left: 330px;

    border-radius: 22.5px;
}

.carousel-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    background-color: white;

    width: 1895px;
    height: 710px;
    
    position: relative;
    top: 5px;

    border-radius: 22.5px;
}

.carousel-wrapper {
    width: 1235px;
    height: 700px; /* Ensure this matches the width of your blocks */
    overflow: hidden;

    position: relative;
    top: -95px;
    left: 322px;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-block {
    width: 1235px;
    height: 700px; /* Matches the width of the wrapper */
    flex-shrink: 0;
    text-align: center;
    box-sizing: border-box; /* Ensures padding and borders are included in the block size */
    /* padding: 20px; */
    background-color: white;
    /* border: 1px solid #ccc; */
}

.carousel-button1 {
    /* padding: 10px;
    margin: 10px; */
    cursor: pointer;

    width: 30px;
    height: 100px;

    position: relative;
    top: 300px;
    left: 282px;

    background-color: white;
    border-color: 2px black;

    border-radius: 12.5px;
}

.carousel-button2 {
    /* padding: 10px;
    margin: 10px; */
    cursor: pointer;

    width: 30px;
    height: 100px;

    position: relative;
    top: 300px; 
    left: 1537px;

    background-color: white;
    border-color: 2px black;

    border-radius: 12.5px;
}

/* .canvasPhoto1
{
    position: relative;
    top: -5px;
} */
